p,
h1,
h2 {
    text-align: center;
}

h1,
h2 {
    font-family: Impact, serif;
    margin-top: 0;
    margin-bottom: 15px;
}

body {
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    font-family: sans-serif;
    padding: 20px;
}

.menu {
    width: 80%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
}

.item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}

.flavor,
.dessert {
    text-align: left;
    width: 75%;
}

.price {
    text-align: right;
    width: 25%;
}

.established {
    font-style: italic;
}

hr {
    height: 2px;
    background-color: brown;
    border-color: brown;
}

.bottom-hr-line {
    margin-top: 25px;
}

img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: -25px;
}

/* FOOTER */
footer {
    font-size: 14px;
}

a {
    color: black;
}

a:visited {
    color: grey;
}

a:hover {
    color: brown;
}

.address {
    margin-bottom: 5px;
}